*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Lato, Helvetica, sans-serif;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  padding: clamp(20px, 5vw, 50px) 10px 10px;
}

.container {
  max-width: 850px;
  background: #f1f1f1;
  padding: 25px;
  margin: 0 auto;
  border: 1px solid #36363692;
  border-radius: 5px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

/* TITRE */

.title {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}

.font-title {
  font-weight: 700;
}

/* INPUT & LABEL */

.input-container {
  display: flex;
  justify-content: center;
}

.input-container label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.input-container input {
  min-width: 350px;
  font-size: 18px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #333;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.input-container input:focus {
  outline: 1px solid #222222be;
}

.input-group:nth-child(2) {
  margin-left: 20px;
}

/* BUTTON */

form button {
  display: block;
  min-width: 200px;
  font-size: 18px;
  font-weight: 700;
  margin: 40px auto;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  background: #fabe33;
}

form button:hover {
  background: #f2b527;
}

/* VALEUR & RESULTAT */

.info {
  text-align: center;
}

.bmi-value {
  margin-bottom: 5px;
  font-size: 45px;
  font-weight: bolder;
}

.result {
  font-family: Raleway, sans-serif;
  font-size: 20px;
}

@media (max-width: 800px) {
  .container {
    max-width: 550px;
  }

  .input-container {
    align-items: center;
    flex-direction: column;
  }

  .input-group:nth-child(2) {
    margin-top: 30px;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .input-group {
    width: 100%
  }

  .input-group input {
    width: 100%;
    min-width: auto;
  }
}